@import "tailwindcss";

@theme {
  --color-rhetor: #b02b2d;
  --color-primary: #181818;
  --color-secondary: white;
}

html {
  scroll-behavior: smooth;
}

body {
  background-color: #181818;
  color: white;
  overflow-x: hidden;
}
